*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    top: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(./hideout.svg);
    background-size: 13%;
    overflow-x: hidden;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: white;
}

/*  Barra-Navegador*/
nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    color: #fff;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(37, 37, 37,1);
    z-index: 20;
    color: white;
    backdrop-filter: blur(2px);
}
.bargris{
    position: absolute;
    top: 100px;
    left: 0;
    height: 15px;
    width: 100%;
    background: rgba(233, 231, 231,1);
}
.logo{
    position: relative;
    left: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
    letter-spacing: 1.2px;
    font-weight: 800;
    cursor: pointer;
    z-index: 1;
}
.opciones{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
}
.opciones li{
    padding: 5px 12px;
    height: 100%;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2px transparent solid;
    transition: .4s;
}
.opciones li a *{
    height: 100%;
    display: flex;
    align-items: center;
}
footer a{
    color: white;

}
.opciones li li a{
    color: #151515;
}
.opciones li:hover,.opciones li.show{
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}
nav ul.opciones li ul.desplegable{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 260px;
    display: none;
    padding-top: 10px;
    background: white;
    color: #151515;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #292b2a;
    transition: 0.8s;
}
nav ul.opciones li.show ul.desplegable{
    display: block;
}
nav ul.opciones li.show:nth-child(6) ul.desplegable{
    left: -210px;
}
nav ul.opciones li.show ul.desplegable li{
    width: calc(100% - 8px);
    display: flex;
    flex-direction: column;
    margin: 12px 4px;
    border-bottom: none;
}
nav ul.opciones li ul.desplegable li:hover{
    background: #1515151c;
}
nav ul.opciones li.show ul.desplegable li h5{
    font-size: 16px;
}
nav ul.opciones li.show ul.desplegable li p{
    font-size: 13px;
    margin-top: 5px;
}
nav .depboton{
    position: relative;
    left: -50px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    transition: 0.25s;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .depboton:hover,nav .depboton.show{
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.6);
}
nav .depboton:hover i,nav .depboton.show i{
    opacity: 0.6;
    transform: scale(.9);
    transition: 0.25s;
}

.barradebusqueda{
    position: relative;
    width: 32%;
    max-width: 38%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(253, 252, 252, 0.65);
    border-radius: 50px;

}
.barradebusqueda i{
    font-size: 25px;
    left: -3px;
    padding: 0 5px;
    color: #111;
    text-align: center;
    opacity: 0.8;
    
}
.barradebusqueda:hover i{
    opacity: 1;
}
.barradebusqueda input{
    width: 88%;
    height: 70%;
    padding: 0 10px;
    background: transparent;
    outline: none;
    border: none;
    border-left: 1px solid rgba(61, 61, 61, 0.61);
}
.mobmenu{
    width: 30px;
    height: 20px;
    margin-right: 20px;
    display: none;
}
.mobmenu::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: white;
}
.mobmenu::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: white;
}
body.active .mobmenu::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transition: 0.5s;
}
body.active .mobmenu::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    transition: 0.5s;
}
/*  Header-Banner Principal  */

.mainbanner{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(64vh + 50px);
    z-index: 1;
}
.mainbanner img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0) contrast(0.6);

}
.cobertura{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(64vh + 50px);
    background: linear-gradient(180deg,rgba(3, 243, 231, 1),#292b2a);
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
img.wave{
    position: absolute;
    bottom: -2px;
    top: auto;
    left: 0;
    height: 70%;
    width: 100%;
    filter: contrast(1);
    z-index: 3;
}
/*  Menu por departamentos  */
.envoltura{
    top: 90px;
    left: -100%;
    width: 100%;
    height: 105vh;
    background-color: rgba(0, 0, 0, 0.7);    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    position: fixed;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
}
.envoltura.show{
    transform: translateX(100%);
}
.departamentos{
    position: relative;
    top: -50px;
    width: 80%;
    height: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 0.3em;
    z-index: 14;
}
.departamentos>div{
    display: flex;
    align-items: center;
    transition: 0.8s;
}
.departamentos>div:hover{
    opacity: 0.45;
    transition: 0.4s;
}
.departamentos>div>h3{
    width: 100%;
    text-align: center;
    opacity: 0.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    cursor: default;
}
.departamento1{
    background: rgba(109, 59, 245, 0.699);
}
.departamento2{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
}
.departamento3{
    background: rgba(32, 83, 178, 0.692);
}
.departamento4{
    background: rgba(57, 140, 207, 0.699);
    grid-row: 1/3;
    grid-column: 5/6;
}
.departamento5{
    background: rgba(32, 83, 178, 0.692);
    grid-column: 1/3;
}
.departamento6{
    background: rgba(109, 59, 245, 0.699);
    grid-column: 3/5;
}
.departamento7{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
}
.departamento8{
    background: rgba(57, 140, 207, 0.699);
}
.departamento9{
    background: rgba(109, 59, 245, 0.699);
    grid-column: 3/4;
    grid-row: 4/5;
}
.departamento10{
    background: rgba(32, 83, 178, 0.692);
    grid-column: 4/6;
}
.departamento11{
    background: rgba(32, 178, 171, 0.699);
    grid-row: 3/4;
    grid-column: 5/6;
}
.departamento12{
    background: rgba(109, 59, 245, 0.699);
    grid-row: 3/5;
}
.departamento13{
    background: rgba(57, 140, 207, 0.699);
    grid-column: 4/6;
}
.departamento14{
    background: rgba(57, 140, 207, 0.699);
    grid-row: 4/5;
}
.departamento15{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
    grid-row: 5/6;
}
.departamento16{
    background: rgb(32, 83, 178);
    grid-row: 5/6;
}

/*  Frecuentes  */

.coverfrecuentes{
    position: relative;
    width: 100%;
    height: 40vh;
    background: white;
    z-index: 1;
}
.coverfrecuentes h3{
    position: absolute;
    left: 10%;
    top: -115px;
    opacity: 0.6;
}
.coverfrecuentes .gsecciones.cuadro{
    position: relative;
    top: -110px;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0.25em;
    padding: 50px 0;
}
.coverfrecuentes .gsecciones.cuadro article{
    position: relative;
    width: 100%;
    height: 230px;
    padding-bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
}
.coverfrecuentes .gsecciones.cuadro article.cables{
    background: rgb(57, 140, 207);
}
.coverfrecuentes .gsecciones.cuadro article.ram,.coverfrecuentes .gsecciones.cuadro article.caja{
    background: rgb(139, 97, 253);
}
.coverfrecuentes .gsecciones.cuadro article.discos,.coverfrecuentes .gsecciones.cuadro article.software{
    background: lightseagreen;
}
.coverfrecuentes .gsecciones.cuadro article.perifericos{
    background: rgb(32, 83, 178);
}
.coverfrecuentes .gsecciones.cuadro article:hover{
    transform: translateY(-35px);
    transition: 0.5s;
}
.coverfrecuentes .gsecciones.cuadro article:hover img{
    opacity: 0.5;
    transition: 0.35s;
}
.coverfrecuentes .gsecciones.cuadro article img{
    width: 55%;
    height: 55%;
    opacity: 0.3;
    transition: 0.3s;
}
.coverfrecuentes .gsecciones.cuadro article .con{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    color: white;
    background: transparent;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
}
.coverfrecuentes .gsecciones.cuadro article .con h4{
    font-size: 20px;
}
.coverfrecuentes .gsecciones.cuadro article .con p{
    opacity: 0.9;
}


/*  Banners  */
.banners{
    position: relative;
    width: 100%;
    height: auto;
}
section.banner{
    position: relative;
    height: auto;
    background: #fafafa;
    display: flex;
}
section.banner:nth-child(1){
    background: linear-gradient(270deg,rgb(95, 171, 233),rgb(187, 220, 248));
}
section.banner:nth-child(2){
    background: linear-gradient(270deg,rgba(232, 234, 235, 0.904),white);
    flex-direction: row-reverse;
    text-align: right;
}
section.banner:nth-child(3){
    background: linear-gradient(90deg,rgb(220, 220, 220),white);
}

section .imgstock{
    position: sticky;
    width: 40%;
    top: 0;
    height: 100vh;
}
section.banner:nth-child(1) .imgstock{
    background: url(../img/blackred.jpg)no-repeat center center/cover;
}
section.banner:nth-child(2) .imgstock{
    background:url(../img/aplel.jpg)no-repeat center center/cover;
}
section.banner:nth-child(3) .imgstock{
    background: url(../img/teclablanca.jpg)no-repeat center center/cover;
}
section .content{
    width: 60%;
}
section .content h2{
    color: rgba(231, 229, 229, 0.6);
    margin: auto;
    margin-top: 20%;
    width: 70%;
    height: 200px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) .content h2{
    color: rgba(161, 206, 243, 0.45);
}
section .content .cuadros{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 20%;
    width: 52%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
section .content .cuadros .big.box{
    grid-column: 1/3;
    height: 300px;
}
section .content .cuadros .box{
    width: 100%;
    height: 200px;
    background: rgba(231, 229, 229, 0.568);
    position: relative;
    transition: 0.8s;
    overflow: hidden;
    opacity: 0.9;
}
section.banner:nth-child(1) .content .cuadros .box{
    background: rgba(141, 197, 243, 0.993);

}
section .content .cuadros .box .imgbox{
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(20, 170, 163, 0.377);
    transition: 0.4s;
}
section:nth-child(1) .content .cuadros .big.box .imgbox{
    background: url(../img/chip.jpg)no-repeat center center/cover;
}
section:nth-child(2) .content .cuadros .big.box .imgbox{
    background: url(../img/portable.jpg)no-repeat center center/cover;
}
section:nth-child(3) .content .cuadros .big.box .imgbox{
    background: url(../img/puertos.jpg)no-repeat center center/cover;
}
section:nth-child(1) .content .cuadros .box.end .imgbox,section:nth-child(2) .content .cuadros .box.end .imgbox,section:nth-child(3) .content .cuadros .box.end .imgbox{
    background: transparent;
}

section .content .cuadros .box .imgbox{
    background: none;
}

section .content .cuadros .box .contentbox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    text-align: left;
    opacity: 1;
    font-family: sans-serif;
}
section .content .cuadros .box:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s linear;
    opacity: 1;
}
section .content .cuadros .box:hover .imgbox{
    filter: saturate(0.0) contrast(1.1);
    transform: scale(1.08) ;
    transition: .4s linear;
    
}
section .content .cuadros .box .contentbox h3{
    color: white;
    transition: 0.5s;
    font-size: 18px;
    margin-bottom: 12px;
    transform: translateY(200px);
    transition: 0.6s;
}
section .content .cuadros .box:hover .contentbox h3{
    transform: translateY(0);
    transition: 0.55s;
    transition-delay: 0.4s;
}
section .content .cuadros .box .contentbox p{
    color: #fff;
    transform: translateY(200px);
    font-size: xx-small;
}
section .content .cuadros .box:hover .contentbox p{
    transform: translateY(0);
    transition: 0.55s;
    transition-delay: 0.6s;
}
section .content .cuadros .box .contentbox .price{
    background: rgba(20, 170, 163, 0.377);
    color: white;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    transform: translateX(60px) translateY(-60px);
    transition: .5s;
    opacity: 0;
}
section .content .cuadros .big.box .contentbox .price{
    width: 100px;
    height: 100px;
    font-size: 1.3em;
}
section .content .cuadros .box:hover .contentbox .price{
    transform: translateX(0) translateY(0) scale(1.2);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 1.1s;
}
section .content .cuadros .box.end .contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #fff;
}
section:nth-child(1) .content .cuadros .box.end .contentbox{
    color: rgb(95, 171, 233);
}
section .content .cuadros .box.end:hover{
    box-shadow: none;
}
section .content .cuadros .box.end:hover .contentbox{
    text-shadow: none;
    transition: 0.6s;
}
/*  Footer  */

footer{
    width: 100%;
    height: auto;
    background: rgba(128, 128, 128, 0.952);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 12%;
    letter-spacing: 0.4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer div ul{
    list-style: none;
    line-height: 25px;
    font-size: 12px;
}
footer div ul h4,.social h4{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.social h4{
    height: 20px;
    grid-column: 1/4;
    text-align: center;

}
.social{
    position: relative;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    column-gap: 3em;
    row-gap: 0.1em;
    margin-bottom: 10px;
}
.social img{
    filter: saturate(0) contrast(1.5);
}
#firma{
    position: relative;
    width: 100vw;
    text-align: center;
    margin-top: 20px 0 0 0;
    padding: 0 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.39);
    cursor: none;
}

/*  Responsive  */

@media(max-width: 425px){
    body{
        position: absolute;
    }
    body.active{
        transform: translateX(-35vw);
        transition: 0.5s;
        overflow-y: hidden;
    }
    .mobmenu{
        display: block;
        visibility: visible;
        margin-right: 0;
    }
    nav{
        height: 80px;
        width: 100vw;
        padding: 0 15px;
    }
    nav .logo{
        left: 10px;
    }
    .bargris{
        top: 80px;
    }
    .opciones{
        position: absolute;
        top: 0;
        left: 100vw;
        display: flex;
        flex-direction: column;
        width: 35vw;
        height: 100vh;
        background: lightseagreen;
        overflow-y: hidden;
    }
    .opciones li{
        position: relative;
        padding: 0px 0px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;  
    }
    .opciones li ul p{
        display: none;
    }
    .opciones li p,.opciones li a{
        position: relative;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul.opciones li ul.desplegable{
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        display: none;
        padding: 10px 0;
        font-size: 10px;
        transition: 0.8s;
    }
    nav ul.opciones li.show:nth-child(6) ul.desplegable{
        left: 0;
    }
    nav ul.opciones li.show ul.desplegable li{
        width: 100%;
        height: 30px;
        text-align: left;
        display: flex;
        padding-left: 25px;
        justify-content: center;
        align-items: flex-start;
        margin: 0px 0;
        border-bottom: none;
    }
    nav .depboton{
        position: relative;
        left: -15px;
    }
    .barradebusqueda{
        left: -20px;
        border-radius: 20px;
        padding: 0 8px;
        max-width: 70%;
    }
    section.banner, section.banner:nth-child(2){
        flex-direction: column;
    }
    .departamentos div h3{
        font-size: 14px;
    }
    section.banner .imgstock{
        height: 100vh;
        width: 100%;
    }
    section.banner .content{
        width: 100%;
    }
    section.banner .content h2{
        text-align: center;
    }
    section:nth-child(1) .content h2{
        color: rgba(255, 255, 255, 0.863);
    }
    section.banner:nth-child(3) .content h2{
        color: gray;
    }
    section.banner .content .cuadros{
        width: 80%;
    }
    .coverfrecuentes{
        height: auto;
    }
    .coverfrecuentes .gsecciones.cuadro{
        width: 90%;
        left: 5%;
        grid-template-columns: repeat(3,1fr);
        top: -70px;
    }
    .coverfrecuentes h3{
        top: -75px;
    }
    footer{
        flex-wrap: wrap;
        padding: 50px 5%;
    }
    footer div{
        width: 100%;
    }
    .social{
        width: 100%;
        grid-template-columns: repeat(6,30px);
        padding: 10px;
        column-gap: 0;
    }
    .social h4{
        grid-column: 1/7;
    }
    .social a,.social a img{
        width: 100%;
        height: 100%;
    }

}
@media(max-width: 410px){
    footer div ul li{
        width: 80px;
        margin-bottom: 7px;
        
    }   
}
@media(max-width: 380px){
    .coverfrecuentes .gsecciones.cuadro{
        grid-template-columns: repeat(2,1fr);
    }
    .departamentos{
        gap: 0;
    }
    .departamentos div h3{
        font-size: 12px;
    }
}
