*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: url(hideout.svg);
    background-size: 13%;
    

}

a{
    text-decoration: none;
    color: white;
}

/*  Navegador  */

.BannerPrincipal{
    background: url(site.jpg) no-repeat center center/cover;
    width: 100%;
    height: 400px;
    margin-bottom: 1.4em;
}
.verzul{
    position: absolute;
    background: rgba(32, 178, 171, 0.308);
    width: 100%;
    height: 400px;
}
nav{
    width: 100%;
    color: white;
    background-color: black;
    opacity: 0.35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    z-index: 50;
}

nav>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    z-index: 50;  
    cursor: pointer;
}
.busqueda{
    position: absolute;
    display: flex;
    background: rgba(255, 255, 255, 0.185);
    justify-content: center;
    padding: 0 5px;
    width: 504px;
    height: 35px;
    margin-top: 200px;
    left: 417px;
}
.busqueda>input{
    background: transparent;
    border: none;
    margin: 5px 0;
    width: 449px;
    height: 25px;
    color: white;
    padding: 0 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.356);
}
.primer{
    background: transparent;
    width: 25px;
    margin-right: 9px;
    margin-top: 2px;
}
.UlNavPrincipal{
    list-style: none;
    display: flex;
}
.UlNavPrincipal>li,.UlNavPrincipal>a{
    padding: 0 7px;
    cursor: pointer;
    border: 2px solid transparent;
}
    ul.lasMarcas{
        color: white;
        font-size: 16px;
        position: absolute;
        background: rgba(169, 169, 169, 0.527);
        left: 545px;
        top: -348px;
        transform:translateY(0);
        transition: transform 0.5s;
        list-style: none;
        text-decoration: none;
        z-index: 20;
    }
    ul.lasMarcas>li{
        padding: 20px 40px;
        cursor: pointer;
    }
    ul.lasMarcas.show{
        transform:translateY(400px);
    }
    .Marcas.point{
        border-left:2px solid rgba(169, 169, 169, 0.527);
        border-right:2px solid rgba(169, 169, 169, 0.527);
    }


    ul.losProductos{
        color: white;
        font-size: 16px;
        position: absolute;
        background: rgba(169, 169, 169, 0.527);
        left: 462px;
        top: -406px;
        transform:translateY(0);
        transition: transform 0.5s;
        list-style: none;
        text-decoration: none;
        z-index: 20;
    }
    ul.losProductos>li{
        padding: 20px 40px;
        cursor: pointer;
    }
    ul.losProductos.show{
        transform:translateY(458px);
    }
    .Productos.point{
        border-left:2px solid rgba(169, 169, 169, 0.527);
        border-right:2px solid rgba(169, 169, 169, 0.527);
    }

    
    ul.laAyuda{
        color: white;
        font-size: 16px;
        position: absolute;
        background: rgba(169, 169, 169, 0.527);
        left: 760px;
        top: -210px;
        transform:translateY(0);
        transition: transform 0.5s;
        list-style: none;
        text-decoration: none;
        z-index: 20;
    }
    ul.laAyuda>li{
        padding: 20px 40px;
        cursor: pointer;
    }
    ul.laAyuda.show{
        transform:translateY(262px);
    }
    .Ayuda.point{
        border-left:2px solid rgba(169, 169, 169, 0.527);
        border-right:2px solid rgba(169, 169, 169, 0.527);
    }


/*  Departamentos  */

.departamentos{
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    padding: 10em;
    gap: 0.3em;
    z-index: 20;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
}
.departamentos.noshow{
    transform: translateX(100%);
}
.departamentos>div{
    display: flex;
    align-items: center;
}
.departamentos>div:hover{
    opacity: 0.5;
}
.departamentos>div>h3{
    width: 100%;
    text-align: center;
    opacity: 0.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;

}
.departamento1{
    background: rgba(109, 59, 245, 0.699);
}
.departamento2{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
}
.departamento3{
    background: rgba(32, 83, 178, 0.692);
}
.departamento4{
    background: rgba(57, 140, 207, 0.699);
    grid-row: 1/3;
    grid-column: 5/6;
}
.departamento5{
    background: rgba(32, 83, 178, 0.692);
    grid-column: 1/3;
}
.departamento6{
    background: rgba(109, 59, 245, 0.699);
    grid-column: 3/5;
}
.departamento7{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
}
.departamento8{
    background: rgba(57, 140, 207, 0.699);
}
.departamento9{
    background: rgba(109, 59, 245, 0.699);
    grid-column: 3/4;
    grid-row: 4/5;
}
.departamento10{
    background: rgba(32, 83, 178, 0.692);
    grid-column: 4/6;
}
.departamento11{
    background: rgba(32, 178, 171, 0.699);
    grid-row: 3/4;
    grid-column: 5/6;
}
.departamento12{
    background: rgba(109, 59, 245, 0.699);
    grid-row: 3/5;
}
.departamento13{
    background: rgba(57, 140, 207, 0.699);
    grid-column: 4/6;
}
.departamento14{
    background: rgba(57, 140, 207, 0.699);
    grid-row: 4/5;
}
.departamento15{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
    grid-row: 5/6;
}
.departamento16{
    background: rgb(32, 83, 178);
    grid-row: 5/6;
}

/*   Mas Frecuentes   */
    
.container{
    width: 80%;
    margin: auto;
    color: black;
    overflow: hidden;
}
div.MasFrecuentes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100%;
    gap: 1.5em;
    padding: 0 20px;
}
div.MasFrecuentes>section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 490px;
    gap: 1.5em;
    box-shadow: 7px 4px 7px 5px rgba(128, 128, 128, 0.842);
    
}
div.MasFrecuentes>section>article.Cables{
    width: 100%;
    height: 200px;
    background: rgb(57, 140, 207);
}
div.MasFrecuentes>section.Cables>ul>li>div{
    background: rgb(57, 140, 207);
    border-right: 5.3px solid rgb(47, 117, 173);
}
div.MasFrecuentes>section>article.RAMs{
    width: 100%;
    height: 200px;
    background: rgb(139, 97, 253);
}
div.MasFrecuentes>section.RAMs>ul>li>div{
    background: rgba(109, 59, 245, 0.774);
    border-right: 5.3px solid rgba(109, 59, 245, 0.829);
    opacity: 1;
}
div.MasFrecuentes>section>article.Discos{
    width: 100%;
    height: 200px;
    background: lightseagreen;
}
div.MasFrecuentes>section.Discos>ul>li>div{
    background: lightseagreen;
    border-right: 5.3px solid rgb(26, 139, 134);
}
div.MasFrecuentes>section>article.Perifericos{
    width: 100%;
    height: 200px;
    background: rgb(32, 83, 178);
}
div.MasFrecuentes>section.Perifericos>ul>li>div{
    background: rgb(32, 83, 178);
    border-right: 5.3px solid rgb(28, 73, 156);
}
div.MasFrecuentes>section>ul{
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,150px);
    gap: 0.5em;
}
div.MasFrecuentes>section>ul>li{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    gap: 1.5px;
    overflow: hidden;
}
div.MasFrecuentes>section>ul>li>div.foto{
    background: url(disco.png) no-repeat center center/cover;
    border: none;
    opacity: 0.6;
    
}
div.MasFrecuentes>section>ul>li>div{
    opacity: 0.965;
}
div.MasFrecuentes>section>ul>li:hover div{
    opacity: 1;
}

div.MasFrecuentes>section>ul>li>div>img{
    width: 100%;
    height: 100%;
}
a.mass>p{
    width: 98%;
    color: gray;
    text-align: center;
    padding: 5px 0;
    border: 2px solid grey;
    opacity: 0.6;
    margin: auto;
    margin-top: 2em;
}
div.MasFrecuentes>section>ul>li>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.MasFrecuentes>section>ul>li>div>p{
    width: 100%;
    height: 100%;
}
div.MasFrecuentes>section>ul>li>div>p>img{
    width: 60px;
    padding-left: 20px;
    padding-top: 10px;
    
    
}

/*  Banner-tudireccion  */

.banner-tuDireccion{
    width: 100%;
    height: 300px;
    background: url(teclas.jpg) no-repeat center center/cover;
    color: white;
    margin: 12em 0 5em 0;
    overflow: hidden;
}
.despla{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: rgba(0, 0, 0, 0.39)
}
.pri{
    padding: 20px;
}
.pri>h2{
    font-size: 25px;
    padding: 10px 0 15px 0;
}
h2.signeate{
    font-size: 27px;
    padding-left: 85px;
    padding-top: 65px;
}
.se{
    margin: 0;
    padding-top:30px;
}
form{
    padding-left: 150px;
    border-left:1.5px solid rgba(128, 128, 128, 0.507);
}
form>P{
    padding: 12px 0;
}
form>p>input{
    border: none;
    background: rgba(88, 84, 84, 0.397);
}
input.envia{
    margin-right: 3px;
    background: rgba(0, 255, 128, 0.26);
    color: rgba(255, 255, 255, 0.452);
    padding: 4px;
    width: 180px;
    border: 1px solid rgba(0, 128, 0, 0.212);
}
input.quita{
    background: rgba(255, 0, 34, 0.26);
    color: rgba(255, 255, 255, 0.452);
    padding: 5px;
    width: 180px;
    border: 1px solid rgba(128, 0, 28, 0.212);
}
.despla{
    transform: translateX(52%);
    transition: transform .4s ease-in-out;
}
.despla.zable{
    transform: translateX(0%);
}

/*  Mas Populares*/
div.MasPopulares{
    background:none;
    overflow: hidden;
}
div.Titulo_MasPopulares{
    background: rgba(109, 59, 245, 0.699);
    
    margin-bottom: 0.5em;
}
h2.MasPopulares{
    color: white;
    margin-top: 4em;
    padding: 10px;
    width: auto;
    text-align: center;
    animation-name: swan;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: 0;
    position: relative;
}

@keyframes swan{
    0%{left: 100%;}
    100%{left: -100%;}
}

div.ProductosPopulares{
    width: 200%;
    height: 200px;
    background: none;
    display: flex;
    overflow: hidden;

    animation-name: slider;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div.ProductosPopulares:hover{
    animation-play-state: paused;
}
@keyframes slider{
    0%{margin-left: 0;}
    10%{margin-left: 0;}
    13%{margin-left: -180.39px;}
    25%{margin-left: -180.39px;}
    28%{margin-left: -360.78px;}
    40%{margin-left: -360.78px;}
    43%{margin-left: -537.17px;}
    55%{margin-left: -537.17px;}
    58%{margin-left: -713.56px;}
    70%{margin-left: -713.56px;}
    73%{margin-left: -891.95px;}
    85%{margin-left: -891.95px;}
    88%{margin-left: -1074.34px;}
    100%{margin-left: -1074.34px;}
}
div.ProductosPopulares>section{
    color: white;
    background: none;
    width: 172.39px;
    height: 200px;
    margin: 0 4px;
}
div.ProductosPopulares>section>div.Popular{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
div.ProductosPopulares>section>div.Popular>h4{
    display: none;
    background: black;
    opacity: 0.5;
    padding: 5px;
}
div.ProductosPopulares>section>div.Popular>p{
    display: none;
    height: 30%;
    padding: 5px;
    font-size: 10px;
    background: black;
    opacity: 0.5;
}
div.ProductosPopulares>section>div.Popular:hover>p,div.ProductosPopulares>section>div.Popular:hover>h4{
    display: block;
}
div.ProductosPopulares>section>div.Popular>p.precio{
    background: gray;
    display: block;
    opacity: 0.3;;
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    padding-top: 10px;
}
div.ProductosPopulares>section>div.Popular:hover>p.precio{
    font-size: 10px;
    padding: 5px;
    text-align: right;
    height: auto;
}

/*  Pre-Order  */

div.Preorder,div.TuPc{
    margin-top: 3em;
    background:none;
}
div.Titulo_Preorder{
    background: black;
    opacity: 0.2;
    margin-bottom: 0.5em;
}
div.Preorder>div.ProductosPopulares>section>div.Popular>p.precio{
    background: rgba(241, 16, 16, 0.644);
}
div.Preorder>div.ProductosPopulares>section>div.Popular>p.disponible{
    background: rgba(106, 218, 106, 0.651);
}
div.Preorder>div.ProductosPopulares>section{
    background: url(tarjeta.png) no-repeat center center/cover;
}

/*  For Your PC*/

div.Titulo_TuPc{
    background: rgba(32, 83, 178, 0.801);
    color: black;
    margin-bottom: 0.5em;
}
div.Titulo_TuPc>h2{
    color: white;
}


/*  Fichas de Marcas  */

div.FichasDeMarcas{
    width: 100%;
    height: 400px;
    margin-top: 6em;
    display: flex;
}
.wrapper{
    background: rgba(255, 255, 255, 0.897);
    width: 220px;
    height: 350px;
    margin: 25px auto;
    box-shadow: 3px 5px 25px 3px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
}
.ficha1,.ficha2,.ficha3,.ficha4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}   
div.FichasDeMarcas>div.wrapper>div>div.color{
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}
div.FichasDeMarcas>div.wrapper>div.ficha1>div.color{
    background: rgba(147, 112, 216, 0.959);
}
div.FichasDeMarcas>div.wrapper>div.ficha2>div.color{
    background: rgba(0, 128, 128, 0.911);
}
div.FichasDeMarcas>div.wrapper>div.ficha3>div.color{
    background: rgba(169, 169, 169, 0.527);
}
div.FichasDeMarcas>div.wrapper>div.ficha4>div.color{
    background: rgba(32, 83, 178, 0.774);
}

div.FichasDeMarcas>div.wrapper>div>div.calificacion.color{
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

div.FichasDeMarcas>div.wrapper>div>img{
    position: absolute;
    width: 130px;
    margin: 35px 0 0 50px ;
}

/*  Footer  */

footer{
    width: 100%;
    height: auto;
    background: rgba(128, 128, 128, 0.952);
    margin-top: 6em;
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}
footer>ul{
    list-style: none;
    line-height: 23px;
    
}
footer>ul>h4,.social>h4{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.514);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.social>h4{
    height: 20px;
    grid-column: 1/3;
    text-align: center;

}
.social{
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    column-gap: 1.1em;
    row-gap: 0.1em;
}