*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(hideout.svg);
    background-size: 13%;
    

}
a{
    text-decoration: none;
    color: white;
}

/*  Barra-Navegador*/
nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(17, 17, 17, 0.493);
    z-index: 20;
    mix-blend-mode: multiply;
}
.logo{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23.5px;
    letter-spacing: 1.2px;
    font-weight: 800;
    cursor: pointer;
    
}
.opciones{
    font-size: 17;
    font-weight: 500;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}
.opciones a{
    padding: 5px;
    margin: 0 6px;
}

/*  Header-Banner Principal  */

.mainbanner{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 64vh;
    background: url(../img/site.jpg)no-repeat center center/cover;
}
.cobertura{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(20, 170, 163, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barradebusqueda{
    width: 38%;
    height: 35px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background: rgba(221, 220, 220, 0.205);

}
.barradebusqueda i{
    font-size: 28px;
    padding: 0 5px;
    color: #111;
    text-align: center;
    opacity: 0.8;
    
}
.barradebusqueda:hover i{
    opacity: 1;
}
.barradebusqueda input{
    width: 90%;
    height: 70%;
    padding: 0 8px;
    background: transparent;
    border: none;
    border-left: 1px solid rgba(61, 61, 61, 0.61);
}

/*  Menu por departamentos  */
.envoltura{
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    position: fixed;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
}
.envoltura.noshow{
    transform: translateX(100%);
}
.departamentos{
    position: relative;
    width: 80%;
    height: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 0.3em;
    z-index: 14;
}
.departamentos>div{
    display: flex;
    align-items: center;
    transition: 0.8s;
}
.departamentos>div:hover{
    opacity: 0.5;
    transition: 0.4s;
}
.departamentos>div>h3{
    width: 100%;
    text-align: center;
    opacity: 0.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    cursor: default;
}
.departamento1{
    background: rgba(109, 59, 245, 0.699);
}
.departamento2{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
}
.departamento3{
    background: rgba(32, 83, 178, 0.692);
}
.departamento4{
    background: rgba(57, 140, 207, 0.699);
    grid-row: 1/3;
    grid-column: 5/6;
}
.departamento5{
    background: rgba(32, 83, 178, 0.692);
    grid-column: 1/3;
}
.departamento6{
    background: rgba(109, 59, 245, 0.699);
    grid-column: 3/5;
}
.departamento7{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
}
.departamento8{
    background: rgba(57, 140, 207, 0.699);
}
.departamento9{
    background: rgba(109, 59, 245, 0.699);
    grid-column: 3/4;
    grid-row: 4/5;
}
.departamento10{
    background: rgba(32, 83, 178, 0.692);
    grid-column: 4/6;
}
.departamento11{
    background: rgba(32, 178, 171, 0.699);
    grid-row: 3/4;
    grid-column: 5/6;
}
.departamento12{
    background: rgba(109, 59, 245, 0.699);
    grid-row: 3/5;
}
.departamento13{
    background: rgba(57, 140, 207, 0.699);
    grid-column: 4/6;
}
.departamento14{
    background: rgba(57, 140, 207, 0.699);
    grid-row: 4/5;
}
.departamento15{
    background: rgba(32, 178, 171, 0.699);
    grid-column: 2/4;
    grid-row: 5/6;
}
.departamento16{
    background: rgb(32, 83, 178);
    grid-row: 5/6;
}

/*  Frecuentes  */

.Frecuentes{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5em;
    padding: 0 20px;
    margin-bottom: 150px;
    
}
.Frecuentes section{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 30px rgba(17, 17, 17, 0.678);
}
.Frecuentes section article{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Frecuentes section.cables article{
    background: rgb(57, 140, 207);
}
.Frecuentes section.rams article{
    background: rgb(139, 97, 253);
}
.Frecuentes section.discos article{
    background: lightseagreen;
}
.Frecuentes section.perifericos article{
    background: rgb(32, 83, 178);
}
.Frecuentes section article img{
    width: 55%;
    height: 55%;
    opacity: 0.3;
}
.Frecuentes section ul{
    list-style: none;
    width: 100%;
    margin: 25px 0;

}
.Frecuentes section ul li{
    width: 100%;
    height: 150px;
    margin: 8px 0;
    display: flex;
}
.Frecuentes section ul li .foto{
    width: 65%;
}
.Frecuentes section ul li .viñeta{
    width: 35%;
    opacity: 0.95;
}

.Frecuentes section.cables ul li .viñeta{
    background: rgb(57, 140, 207);
    border-right: 5.3px solid rgb(47, 117, 173);
}
.Frecuentes section.rams ul li .viñeta{
    background: rgb(139, 97, 253);
    border-right: 5.3px solid rgb(115, 65, 252);
}
.Frecuentes section.discos ul li .viñeta{
    background: lightseagreen;
    border-right: 5.3px solid rgb(26, 139, 134);
}
.Frecuentes section.perifericos ul li .viñeta{
    background: rgb(32, 83, 178);
    border-right: 5.3px solid rgb(28, 73, 156);
}

.Frecuentes section ul li .foto{
    background: url(../img/disco.png) no-repeat center center/cover;
    border: none;
    opacity: 0.6;
    
}
.Frecuentes section ul li:hover div{
    transition: 0.5s;
    opacity: 1;
}

.Frecuentes section ul li .foto img{
    width: 100%;
    height: 100%;
}

/*  Banners  */
.banners{
    width: 100%;
    height: auto;
}
section.banner{
    position: relative;
    height: auto;
    background: #fafafa;
    display: flex;
}
section.banner:nth-child(1){
    background: linear-gradient(270deg,rgb(95, 171, 233),rgb(187, 220, 248));
}
section.banner:nth-child(2){
    background: linear-gradient(270deg,rgba(232, 234, 235, 0.904),white);
    flex-direction: row-reverse;
    text-align: right;
}
section.banner:nth-child(3){
    background: linear-gradient(90deg,rgb(220, 220, 220),white);
}
section .imgstock{
    position: sticky;
    width: 40%;
    top: 0;
    height: 100vh;
}
section.banner:nth-child(1) .imgstock{
    background: url(../img/blackred.jpg)no-repeat center center/cover;
}
section.banner:nth-child(2) .imgstock{
    background:url(../img/aplel.jpg)no-repeat center center/cover;
}
section.banner:nth-child(3) .imgstock{
    background: url(../img/teclablanca.jpg)no-repeat center center/cover;
}
section .content{
    width: 60%;
   
}
section .content .cuadros{
    margin: auto;
    margin-top: 30%;
    margin-bottom: 20%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
}
section .content .cuadros div.big{
    grid-column: 1/3;
    height: 300px;
}
section .content div{
    width: 100%;
    height: 200px;
    background: rgba(231, 229, 229, 0.568);
}
section.banner:nth-child(1) .content div{
    background: rgba(141, 197, 243, 0.993);

}


/*  Footer  */

footer{
    width: 100%;
    height: auto;
    background: rgba(128, 128, 128, 0.952);
    margin-top: 6em;
    display: flex;
    justify-content: space-between;
    padding: 40px 12%;
    letter-spacing: 0.4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer div ul{
    list-style: none;
    line-height: 25px;
    font-size: 7px;
    
}
footer div ul h4,.social h4{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.social h4{
    height: 20px;
    grid-column: 1/4;
    text-align: center;

}
.social{
    width: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    column-gap: 3em;
    row-gap: 0.1em;
}