*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightseagreen;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

a{
    text-decoration: none;
    color: white;

}

/*  Banner Principal*/

.BannerPrincipal{
    
    width: 100%;
    height: 625px;
}

nav{
    color: white;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 50;
    position: absolute;
}
nav>h1,nav>a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;  
}
.primer{

    position: absolute;
    width: 50px;
    top: 3px;
    left: 1120px;
    color: white;
    opacity: 0.4;
}
.UlNavPrincipal{
    list-style: none;
    display: flex;
}
.UlNavPrincipal>li{
    padding: 0 7px;
    cursor: pointer;
    border: 2px solid transparent;
}
    ul.lasMarcas{
        color: white;
        font-size: 16px;
        position: absolute;
        background: rgba(169, 169, 169, 0.527);
        left: 540px;
        transform:translateY(-115%);
        transition: transform 0.5s;
        list-style: none;
        text-decoration: none;
        z-index: 20;
    }
    ul.lasMarcas>li{
        padding: 20px 40px;
        cursor: pointer;
    }
    ul.lasMarcas.show{
        transform:translateY(50px);
    }
    .Marcas.point{
        border-left:2px solid rgba(169, 169, 169, 0.527);
        border-right:2px solid rgba(169, 169, 169, 0.527);
    }

    ul.losProductos{
        color: white;
        font-size: 16px;
        position: absolute;
        background: rgba(169, 169, 169, 0.527);
        left: 460px;
        transform:translateY(-115%);
        transition: transform 0.5s;
        list-style: none;
        text-decoration: none;
        z-index: 20;
    }
    ul.losProductos>li{
        padding: 20px 40px;
        cursor: pointer;
    }
    ul.losProductos.show{
        transform:translateY(50px);
    }
    .Productos.point{
        border-left:2px solid rgba(169, 169, 169, 0.527);
        border-right:2px solid rgba(169, 169, 169, 0.527);
    }

    
    ul.laAyuda{
        color: white;
        font-size: 16px;
        position: absolute;
        background: rgba(169, 169, 169, 0.527);
        left: 753px;
        transform:translateY(-230px);
        transition: transform 0.5s;
        list-style: none;
        text-decoration: none;
        z-index: 20;
    }
    ul.laAyuda>li{
        padding: 20px 40px;
        cursor: pointer;
    }
    ul.laAyuda.show{
        transform:translateY(50px);
    }
    .Ayuda.point{
        border-left:2px solid rgba(169, 169, 169, 0.527);
        border-right:2px solid rgba(169, 169, 169, 0.527);
    }

    /*  Paneles  */

.espacio{
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
} 
.lados1{
    
    background: url(site.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
}
.lados2{
    
    background: url(creando.jpg) no-repeat right center/cover;
    width: 100%;
    height: 100%;
}

.verzul{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 143, 131, 0.452);
}

/*  Starter  */

.starter{
    color: white;
    background: rgba(0, 0, 0, 0.445);
    width: 400px;
    height: 450px;
    position: absolute;
    top: 100px;
    left: 865px;
    border-radius: 65px 0 65px 0;

}
.starter>h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 25px 10px 15px 10px;
    color: rgba(255, 255, 255, 0.164);
}
.starter>p{
    width: 358px;
    font-size: 13px;
    margin: 6px 25px 25px 45px;
}
form{padding-left: 35px;
    justify-content: center;
}
form>p{
    font-size: 13px;
    padding: 10px;
}
input{
    background: gray;
    border-radius: 5px;
    padding: 0 10px;
    opacity: 0.28;
    color: white;
}

/*  Mensaje-Eslogan  */

.mensaje{
    position: absolute;
    top: 280px;
    left: 60px;
}
.mensaje>h2{
    line-height: 35px;
    width: 400px;
    color: white;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
.mensaje>p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 550px;
    color: rgba(152, 250, 250, 0.432);
    margin-top: 1em;
    font-size: 16px;
    padding-top: 8px;
    border-top: 1.5px solid rgba(8, 129, 129, 0.808);
}

/*  Mensaje de la App  */

.app{
    position: absolute;
    height: 90px;
    width: 300px;
    background: rgba(0, 0, 0, 0.514);
    top: 465px;
    left: 0;
    border-radius: 0 35px 35px 0;
    transform: translateX(0);
    transition: transform 1s;
    opacity: 0.8;

    
}
.app:hover{
    opacity: 1;
}
.app.escondido{
    transform: translateX(-280px);
    transition: transform 1s;
}
.app>h3{
    color: cadetblue;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    padding-bottom: 0px;
}
.app>p{
    color: rgba(255, 255, 255, 0.63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12;
}

.app{
    animation-name: app;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes app{
    0%{left: -300px;}
    100%{left: 0;}
}


/*  footer  */

.piso{
    color: white;
    width: 100%;
    height: 35px;
    background-color: black;
    opacity: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 50;
    position: absolute;
    top: 590px;
    left: 0;   
}

